.workspace-container {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
}

.workspace {
  background-color: transparent;
  border-radius: 15px;
  min-height: 0px;
  color: black;
}

.workspace:hover {
  background-color: #d81b1a;
}

.focused-workspace {
  background-color: #c10000;
}

.occupied-workspace {
  color: #c0c0c0;
}
