@import url('../../../../.cache/wal/colors.css');

.workspace-container {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
}

.workspace {
  background-color: transparent;
  border-radius: var(--roundness);
  min-height: 0px;
  color: black;
}

.workspace:hover {
  background-color: var(--color4);
}

.focused-workspace {
  background-color: var(--color1);
}

.occupied-workspace {
  color: var(--color15);
}
