window {
  font-family: 'JetBrains Mono';
  background-color: transparent;
  font-size: 1em;
  min-height: 1px;
}

centerbox {
  border-radius: 14px;
  background-color: transparent;
  margin-right: 15px;
  margin-left: 15px;
  min-height: 1px;
}

.container {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  padding: 2px 8px;
}

.red-symbol {
  color: #d81b1a;
}
