:root {
  --roundness: 15px;
  --gap: 10px;
}

window {
  font-family: 'JetBrains Mono';
  background-color: transparent;
  font-size: 1em;
  min-height: 1px;
}

centerbox {
  border-radius: 14px;
  background-color: transparent;
  margin: 0px var(--gap);
  min-height: 1px;
}

.container {
  background-color: transparent;
  color: #c0c0c0;
  border: 2px solid #c0c0c0;
  border-radius: var(--roundness);
  padding: 2px 8px;
}

.red-symbol {
  color: #d81b1a;
}
