@use '../../utility-styles/_shared-styles.scss' as shared;
@use '../../utility-styles/_generated-colors.scss' as colors;
@use '../../utility-styles/_style-variables.scss' as vars;

$app-button-height: 30px;
$app-search-height: 30px;
$app-number-to-show: 5;

.app-launcher {
  background-color: rgba($color: black, $alpha: 0.8);
  color: #a7a7a7;
  border: vars.$border-width solid #8d8d8d;
  border-radius: vars.$roundness;
  padding: 0px;
  min-width: 350px;
  min-height: calc(
    $app-button-height * $app-number-to-show + $app-search-height
  );

  &__failed-search {
    background-color: transparent;
  }

  &__app-list {
    background-color: transparent;
  }
}

.app-search {
  background-color: transparent;
  min-height: $app-search-height;
  border-bottom: 1px solid #8d8d8d;
  font-size: 16px;

  &__entry {
    border: none;
    border-radius: 0px;
    background-color: transparent;

    &:focus-within {
      box-shadow: none;
      background-color: transparent;
      border-color: transparent;
      outline: none;
    }
  }
}

.app-button {
  min-height: $app-button-height;
  padding: 0px;
  padding-left: 5px;
  border-radius: vars.$roundness;
  background-color: transparent;

  &__label {
    font-family: 'JetBrains Mono SemiBold';
    font-size: 16px;
  }

  &:focus-within {
    outline: 1px solid colors.$color1;
  }
}
