@use '../../utility-styles/_shared-styles.scss' as shared;
@use '../../utility-styles/_generated-colors.scss' as colors;
@use '../../utility-styles/_style-variables.scss' as vars;

.power-off-menu {
  background-color: rgba($color: black, $alpha: 0.8);

  &__button {
    font-size: 12px;
    min-height: 20px;
    min-width: 100px;
    background-color: rgba($color: black, $alpha: 0.8);
    border: 1px solid #8d8d8d;
    color: #a7a7a7;
    border-radius: 0px;
    padding: 10px;
    margin: 4px;
  }

  &__button:focus {
    outline: none;
    border: 1px solid colors.$color1;
  }

  &__icon {
    margin-right: 10px;
  }
}
