@use '../../utility-styles/_shared-styles.scss' as shared;
@use '../../utility-styles/_generated-colors.scss' as colors;
@use '../../utility-styles/_style-variables.scss' as vars;

$gap: 5px;

.power-off-menu {
  background-color: rgba($color: black, $alpha: 0.8);

  &__label {
    font-size: 1.5rem;
  }

  &__button {
    min-width: 50px;
    min-height: 50px;
    background-color: rgba($color: black, $alpha: 0.8);
    border: 1px solid #8d8d8d;
    color: #a7a7a7;
    border-radius: 0px;
    padding: $gap;
    margin: 4px;

    &:focus {
      outline: none;
      border: 1px solid colors.$color1;
    }
  }

  &__icon {
    margin-right: $gap;
  }
}
